# Test code markdown

In [558]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [559]:
df = pd.read_csv(r'files\clean.csv')

# Garder que les variables quanti
variables_quali = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country','income']
df = df.drop(columns= variables_quali)
df

       age  capital-gain  capital-loss  hours-per-week
0       25             0             0              40
1       38             0             0              50
2       28             0             0              40
3       44          7688             0              40
4       34             0             0              30
...    ...           ...           ...             ...
45217   27             0             0              38
45218   40             0             0              40
45219   58             0             0              40
45220   22             0             0              20
45221   52         15024             0              40

[45222 rows x 4 columns]

In [560]:
#Tire une clef de repartition aleatoire de % d'individues dans les classes

def clef_repartition_random(nb_classe):
    clef_repartition = [10] * nb_classe
    somme_restant = 100 - sum(clef_repartition)

    for i in range(nb_classe):
        if somme_restant <= 0:
            break
        max_val = somme_restant + clef_repartition[i]
        nouvelle_valeur = random.randint(10, max_val)
        somme_restant -= (nouvelle_valeur - clef_repartition[i])
        clef_repartition[i] = nouvelle_valeur
    
    clef_repartition[-1] += somme_restant
    random.shuffle(clef_repartition)
    
    return clef_repartition

In [561]:
def repartition_individues(clef_repartition, taille_df) :
    n_repartition = [round(taille_df * x / 100) for x in clef_repartition]

    if sum(n_repartition) > taille_df :
        n_repartition[-1] -= 1
    
    if sum(n_repartition) < taille_df :
        n_repartition[-1] += 1

    return n_repartition

print(len(df))
for i in range (0,100) :
    repartition_finale = repartition_individues(clef_repartition_random(5), len(df))
    print(repartition_finale,sum(repartition_finale))

45222
[4974, 4522, 16732, 14019, 4975] 45222
[5879, 11758, 5879, 8592, 13114] 45222
[9044, 4974, 12662, 4974, 13568] 45222
[18089, 4522, 7236, 10853, 4522] 45222
[11306, 4522, 4522, 15828, 9044] 45222
[20802, 4522, 10401, 4974, 4523] 45222
[4974, 5427, 4522, 4522, 25777] 45222
[5427, 4522, 25324, 5427, 4522] 45222
[4522, 4974, 4974, 25777, 4975] 45222
[6331, 5427, 5427, 4522, 23515] 45222
[7236, 9044, 14019, 7688, 7235] 45222
[4974, 6783, 14471, 6331, 12663] 45222
[14471, 7236, 6331, 4522, 12662] 45222
[4522, 26681, 4522, 4522, 4975] 45222
[4522, 16280, 5879, 10853, 7688] 45222
[4974, 17637, 8140, 4522, 9949] 45222
[11758, 5879, 14019, 7688, 5878] 45222
[5879, 4522, 25777, 4522, 4522] 45222
[5427, 4522, 12662, 5879, 16732] 45222
[9497, 5879, 13114, 9949, 6783] 45222
[4522, 7236, 5427, 4522, 23515] 45222
[14923, 6331, 4974, 10853, 8141] 45222
[20802, 7688, 6331, 4974, 5427] 45222
[19898, 10401, 4522, 4974, 5427] 45222
[6331, 14019, 7236, 12210, 5426] 45222
[6783, 5427, 5427, 11758, 15827] 45222
[5879, 24872, 4522, 4522, 5427] 45222
[4522, 4522, 4974, 4522, 26682] 45222
[5879, 10853, 4522, 14019, 9949] 45222
[17637, 9949, 4522, 6331, 6783] 45222
[5879, 4974, 12662, 5879, 15828] 45222
[4522, 4522, 4522, 27133, 4523] 45222
[4522, 5427, 12210, 4974, 18089] 45222
[4522, 4522, 5427, 9949, 20802] 45222
[9044, 5879, 9949, 10401, 9949] 45222
[4974, 13114, 9044, 9044, 9045] 45221
[11758, 6331, 4522, 18089, 4522] 45222
[7236, 7236, 7236, 4522, 18992] 45222
[17637, 5879, 11758, 4522, 5426] 45222
[9497, 6331, 17637, 6331, 5426] 45222
[5879, 4522, 8592, 21707, 4522] 45222
[5879, 4974, 7688, 19445, 7236] 45222
[4522, 5879, 4522, 24872, 5427] 45222
[18089, 10853, 4974, 6331, 4975] 45222
[7688, 7236, 12210, 13114, 4974] 45222
[4974, 25324, 4522, 5879, 4523] 45222
[7236, 5427, 16280, 8140, 8139] 45222
[4522, 4522, 5427, 17184, 13567] 45222
[6783, 9497, 4522, 19898, 4522] 45222
[5879, 7688, 13114, 13567, 4974] 45222
[9044, 6783, 10401, 8140, 10854] 45222
[4522, 4522, 17184, 4522, 14472] 45222
[25777, 5879, 4522, 4522, 4522] 45222
[4974, 11758, 8140, 15828, 4522] 45222
[4522, 5427, 4522, 26229, 4522] 45222
[5427, 8592, 18541, 7236, 5426] 45222
[5879, 5427, 18541, 10401, 4974] 45222
[5427, 5427, 15375, 5427, 13566] 45222
[14019, 9497, 6783, 8592, 6331] 45222
[11306, 4974, 15828, 8140, 4974] 45222
[6331, 8140, 16280, 6783, 7688] 45222
[14923, 4522, 7688, 6783, 11306] 45222
[5427, 4522, 21707, 8592, 4974] 45222
[5879, 15375, 4522, 4974, 14472] 45222
[4522, 21254, 10401, 4522, 4523] 45222
[4974, 13114, 16280, 4974, 5880] 45222
[14019, 15828, 4974, 5427, 4974] 45222
[13114, 15375, 4974, 6783, 4975] 45221
[23063, 4974, 7236, 4522, 5427] 45222
[7236, 4522, 4522, 4522, 24420] 45222
[4522, 14923, 4974, 6783, 14020] 45222
[5427, 18541, 10401, 4522, 6331] 45222
[5427, 7688, 5879, 4974, 21254] 45222
[12662, 4522, 5427, 6331, 16280] 45222
[5427, 5879, 22159, 4974, 6783] 45222
[4522, 6783, 4522, 19898, 9497] 45222
[14471, 5879, 13567, 5879, 5426] 45222
[11306, 11306, 6783, 10853, 4974] 45222
[4974, 7688, 14019, 7688, 10853] 45222
[5427, 18993, 4974, 5427, 10401] 45222
[4522, 21707, 7236, 4522, 7235] 45222
[10401, 4522, 6331, 4974, 18994] 45222
[14019, 17184, 4974, 4522, 4523] 45222
[5427, 6783, 5879, 21254, 5879] 45222
[4522, 4522, 27133, 4522, 4523] 45222
[23515, 4522, 4522, 4522, 8141] 45222
[4974, 15828, 4974, 5427, 14019] 45222
[9044, 9949, 4522, 14923, 6784] 45222
[5879, 7236, 5427, 21254, 5426] 45222
[7236, 7688, 14923, 6783, 8592] 45222
[20802, 5879, 5427, 6783, 6331] 45222
[6331, 6783, 4522, 9044, 18542] 45222
[4522, 10853, 19898, 4974, 4975] 45222
[8140, 14019, 5427, 4522, 13114] 45222
[4974, 22611, 6783, 5427, 5427] 45222
[12662, 6331, 10853, 7236, 8140] 45222
[4522, 4522, 4522, 4522, 27134] 45222
[4974, 5427, 5427, 7236, 22158] 45222
[12210, 5427, 7688, 5427, 14470] 45222
[4522, 21254, 7236, 6783, 5427] 45222